.home_page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home_page_container {
    border: 1px solid black;
    width: 65vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.create_todo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.create-todo-input {
    height: 40%;
}

.add-todo-button {
    width: 20%;
    height: 40%;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.home_page_todos_title_container {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

/* .home_page_container_title {
    text-decoration: underline;
    padding-left: 36%;
} */

.todos-list {
    width: 100%;
}

/* .home_page_todo_container {
    border: 1px solid black;
    margin-bottom: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.home_page_todo {
    padding-left: 5%;
    padding-right: 10%;
}

.home_page_todo_icon {
    padding-top: 3%;
} */