.todo-container {
    border: 1px solid black;
    margin-bottom: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.todo-description {
    padding-left: 5%;
    padding-right: 10%;
}

.icon-container {
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
}

.todo-icon {
    cursor: pointer;
}